* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: "Montserrat", sans-serif;
}
.section-gallery {
  position: relative;
  padding: 45px 0;
}
h2 .title {
  font-size: 44px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 45px;
  position: relative;
}
.gallery-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.gallery-item {
  display: block;
  flex: 25%;
  overflow: hidden;
  position: relative;
}
.gallery-item-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  opacity: 0;
  transition: opasity 0.3s ease;
  z-index: 2;
}
.gallery-item:hover .gallery-item-hover {
  opacity: 1;
}
.gallery-item:hover img {
  transform: scale(1.3) rotate(5deg);
  
}
.gallery-item img {
  max-width: 100%;
  height: auto;
}
@media (max-width:991px ) {
  .gallery-item{
    flex:33.3% ;
  }
}
@media (max-width:768px ) {
  .gallery-item{
    flex:50% ;
  }
}
@media (max-width:530px ) {
  .gallery-item{
    flex:100% ;
  }
}
